# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.Python

# VSCode settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Migrations
**/migrations/*
!**/migrations/__init__.py

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# Env files
.env
*.env

# Node (if using npm/yarn for frontend)
node_modules/
build/
dist/

# Coverage and testing
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache
.pytest_cache/

# PyInstaller
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/
